@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@400;500;600&display=swap');

/* * {
    border: 1px dotted red;
} */

.container {
    max-width:  1400px;
    height: 800px;
    /* border: 2px solid #56c344; */
    border-radius: 10px;
    margin: 10px auto;
    background-color: #ffff7c;
    box-shadow: 0x 2px 5px lightblue;
    display: flex;
    padding: 90px 60px;
    gap: 50px;
    flex-wrap: wrap;
    font-family: Outfit;
    color: #262626;
}

body {
    background-color:  linen;
}

.item {
    flex: 1;
    border: 2px solid #1e760f;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px ;
    background-color: #b3d585;
}

.title-bar {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.image-box {
    max-width: 300px;
    height: 500px;
    border: 1px solid #555555;
    margin: 30px auto;
    border-radius: 5px;
    background-image: url(image/ignitePhone.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.image-box:hover,
.image-box-coffee:hover,
.image-box-cosmetic:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

.button-mock-up {
    background-color: #008CBA;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-demo:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(0.9);
  }

  .button-demo {
    background-color: #04aa6d;
    width: 300px;
    margin: 0 auto;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-mock-up:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(0.9);
  }

.button-mock-up, 
.button-demo{
    color: aliceblue;
    text-decoration: none;
    letter-spacing: 2px;
}

.button-mock-up span, 
.button-demo span {
   font-size: 10px;
}

.image-box-coffee {
    max-width: 300px;
    height: 500px;
    border: 1px solid #555555;
    margin: 30px auto;
    border-radius: 5px;
    background-image: url(image/coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.image-box-cosmetic {
    max-width: 300px;
    height: 500px;
    border: 1px solid #555555;
    margin: 30px auto;
    border-radius: 5px;
    background-image: url(image/cosmetic.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}


#item-cosmetic {
    background-color: #feb0bd;
    border-color: #fe9ea3;
}

#item-coffee {
    background-color: #b08e74;
    border-color: #976139;
}